
html *
{
/*   font-family: "Verdana", Courier, monospace; */
    font-family: 'Courier Prime'
}
/*
.navBarId
{
  background-color:Red;
  /* color:#FFFEF2;*/
  /*
  font-weight:bold;
  font-family: "Verdana", Courier, monospace;
}
*/
.navbar .navbar-nav {
    font-family: "Verdana", Courier, monospace;
}


/*
.navbar {
  background-color: #e1be84;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #e1be84;
  border-color: #c5ad86;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #c5ad86;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #c5ad86;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #c5ad86;
}
.navbar .navbar-toggler {
  border-color: #c5ad86;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background-color: #c5ad86;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #c5ad86;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #c5ad86;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #c5ad86;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #c5ad86;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #c5ad86;
}


*/

#main
{
  background-color:#557A95;
  color:#FFFEF2;
}
#main2
{
  background-color: #8a9885;
  text-align: center;
}
#Explanation
{
  border-style: solid;
}
#codeImage
{
  filter: invert(100%) sepia(28%) saturate(593%) hue-rotate(352deg) brightness(107%) contrast(101%);
}
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
#tableDiv{
  border-style: solid;
  border-width: 10px;
  border-color: black;
  padding: 0px;
  border-radius: 20px;
}
#table1 {
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  font-size: 15px;
  padding: 0px;
}
#display {
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  font-size: 40px;
  padding: 0px;
}
#weatherCol{
  font-size: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.img {
width:80%;
}

.text-over-img {
  position: absolute;
    top: 50%;
    left: 40%;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}
